.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;

  padding: 0 var(--button-horizontal-padding);

  font-size: var(--font-size-small);
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;

  cursor: pointer;

  color: var(--color-white);

  transition: background-color 150ms ease, border-color 150ms ease;

  .icon {
    margin-right: 10px;
  }
}

.button:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.apiCallFinished {
  padding: 0 25px;

  cursor: not-allowed;
}

.activityIndicator {
  margin-left: 14px;
  padding: 0;

  .buttonSpinner {
    width: 16px;
    height: 16px;

    border-width: 2px;
  }
}

@media (--min-xs) {
  .button {
    padding: 0 var(--button-horizontal-padding-xs);
  }
}
